/*
   leaflet patches
*/

@media print {
    .leaflet-control {
        visibility: hidden !important;
        display: none !important;
    }

    .leaflet-control-scale {
        visibility: visible !important;
        display: initial !important;
    }
}

.leaflet-control.stack-norizontal {
    float: none;
    display: inline-block;
}

/* make disabled lables look disabled  */
input.leaflet-control-layers-selector ~ span {
    cursor: pointer;
}

input.leaflet-control-layers-selector:disabled ~ span {
    opacity: 0.6;
    cursor: auto;
}

/* prevent from accidental selection on layer names */
.leaflet-control-layers label {
    user-select: none;
}

/* layers control end*/


/*
   override margins for controls on touch
*/
@media (pointer: coarse) {
    .leaflet-top .leaflet-control {
        margin-top: 0px;
    }

    .leaflet-left .leaflet-control {
        margin-left: 0px;
    }

    .leaflet-right .leaflet-control {
        margin-right: 0px;
    }

    .leaflet-bar {
        margin-bottom: 16px;
    }
}
/*
    patch for centered zoom
*/

.leaflet-center {
    left: 50%;
    transform: translate(-50%, 0%);
}

.leaflet-middle {
    top: 50%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    transform: translate(0%, -50%);
}

.leaflet-center.leaflet-middle {
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* 
    Safari 15+ patch 
    prevents controls from getting under map
*/
.leaflet-control-container.leaflet-top,
.leaflet-control-container.leaflet-middle,
.leaflet-control-container.leaflet-bottom {
    will-change: tranform;
}

/*
  end of patch
*/

/*  
    Safari on iOS + Leaflet 1.9 patch 
    prevents Safari from selecting page on long tap
*/

.leaflet-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.leaflet-marker-icon {
    -webkit-touch-callout: none;
}
.leaflet-tile {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/*
  end of patch
*/

.leaflet-control-button-pressed {
    background-color: #B2CCE1 !important;
}


.leaflet-control-attribution {
    background: rgba(255,255,255,0.5) !important;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}

.leaflet-control-scale {
    pointer-events: none;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 3px;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 8px;
}

.leaflet-control-scale-line {
    line-height: 1;
    font-size: 10pt;
    background: unset;
    pointer-events: none;
    color: rgba(0,0,0,1);
    border-bottom: 1px solid rgba(255,255,255,0.9);
    border-right: 1px solid rgba(255,255,255,0.9);
    border-left: 1px solid rgba(255,255,255,0.9);
    box-shadow: 1px 1px 0px black, -1px 1px 0px black;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
    border-top: 0px;
}